# Dossiers et Fichiers générés à la compilation
*_minted*
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.blg
*.bbl
*.config.minted
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.listing
*.lof
*.lol
*.lot
*.log
*.out
*.sbl
*.slg
*.sym
*.synctex.gz
*.synctex(busy)
*.toc
main.pdf

# Externalisation de TikZ
*.dpth
*.md5
tikz/*.pdf
tikz/build/*.pdf

# Autre
.chktexrc
